<!-- {{mensaje}}

<p>Fecha mapa</p>
{{dateParam }}
<br> -->


<!-- <div class="vegeta-comp">
    <h3>Vegeta Component</h3>
    <form>
      <div class="form-group">
        <label>Mensaje para Goku:</label>
        <input class="form-control" #msg type="text">
      </div>
      <button class="btn btn-primary" type="button" (click)="enviarMensaje(msg.value)">Enviar Mensaje</button>
    </form>
    <div class="pedir-mensaje">
      <button class="btn btn-info" (click)="verMensaje()">Ver mensaje de Goku</button>
      <h3 *ngIf="mensajeGoku">{{mensajeGoku}}</h3>
    </div>
  </div> -->



<!-- <div (click)="updateData('falso')">Click t oupdate Data FALSE</div>
<div (click)="updateData('verddero')">Click to update Data TRUE</div>
<div><p>data from Service HERE:</p><p style="color:red"> {{myData}}</p></div>
<div><p>data from Service HERE:</p><p style="color:red"> {{myData}}</p></div> -->
<div id="map" style="z-index: 2;" class="map"></div>