$color-rose:        #CE5690;
$color-yellow:      #F6E4A9;
$color-purple:      #604289;
$color-blue1:       #B8E0EA;
$color-blue2:       #00A6D9;

.map {
    width: 100%;
    height: 100%;
}
#overlay {
    position: absolute;
    z-index: 1;
}
#layertreee {
    position: absolute;
    margin-left: 3rem;
}
.mat-expansion-panel-body{
    margin-top: 20px;
}
.mat-expansion-panel {
    background: #ffffff;
    margin: 0;
}
.mat-expansion-panel-center {
    margin: 0;
}
.mat-expansion-panel-header .mat-expansion-panel-body{
    margin: 0;
}
.mat-card{
    padding: 0rem;
}
.acordion-mat{
    padding-top: 0.6rem;
}
.capas{
    font-size: 1rem;
    margin: 16px;
}
.covid-layer{
    text-align: center;
    margin-top: 1rem; 
    margin-bottom: .5rem;
    color: $color-purple;
}
@media screen and (max-width: 1240px) {
    .capas{
        margin: 10px;
    }
    .mat-expansion-panel {
        width: 140px;
    }
    .mat-expansion-panel-body {
        padding: 0 10px 16px;
    }
    .img {
        width: 100px;
    }
}