<div class="padre">
    <div class="hijo1">
        <div class="charts" style="padding: 15px;">
            <h2 *ngIf="layerNow == 'act'">CASOS ACTIVOS POR MUNICIPIO</h2>
            <h2 *ngIf="layerNow == 'acu'">CASOS ACUMULADOS POR MUNICIPIO</h2>
            <h2 *ngIf="layerNow == 'def'">DEFUNCIONES POR MUNICIPIO</h2>
            <h2 *ngIf="layerNow == 'nac'">ACTIVOS NACIONAL</h2>
            <h3>Total: {{tot_cases_mun}}</h3>
            <h3>Municipio: {{municipio}}</h3>
            
            <mat-divider class="navigation-divider"></mat-divider>
            <div class="padre2">
                <div class="hijo21">
                    <h3>Mujeres, hombres y no especificado</h3>
                    <div class="chart1">
                        <canvas baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
                <div class="hijo22">
                    <h3>Activos a la fecha, 7 y 14 días atras</h3>
                    <div class="chart3">
                        <canvas baseChart 
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [plugins]="lineChartPlugins"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType">
                        </canvas>
                    </div>
                </div>
            </div>
            <mat-divider class="navigation-divider"></mat-divider>
            <div class="padre3">
                <div class="hijo31">
                    <h3 *ngIf="layerNow == 'act'">Activos acumulados por edades</h3>
                    <h3 *ngIf="layerNow == 'acu'">Casos acumulados por edades</h3>
                    <h3 *ngIf="layerNow == 'def'">Defunciones acumulados por edades</h3>
                    <h3 *ngIf="layerNow == 'nac'">Activos acumulados por edades</h3>
                    <app-chartbar2020 [cvegeoDash]="cvegeo" [layerDash]="layerNow" ></app-chartbar2020>
                </div>
            </div>
        </div>
    </div>
    <div class="hijo2">
        <app-map 
        (desde_el_hijo)="getDataMap($event)" 
        (desde_el_hijo_map)="getDataMap2($event)"></app-map>
    </div>
</div>

