$color-grisText: #7C878E;
$color-gris2: #E5E6E8;
$color-amarillo: #e9bd3f;
$color-azul: #EFF7FF;
$color-azul2: #527BFF;
$color-fondo: #303F51;
// *{
//     color: whitesmoke;
// }
.main-container{
    background: $color-amarillo;
    padding: 0;
    // padding-right: 0;
    // padding-top: 0;
    // padding-bottom: 0;
}