<div id="sidebar">
    <mat-nav-list>
      <div class="flex-item">
        <mat-form-field appearance="fill">
          <mat-label>Seleccionar fecha</mat-label>
          <input format='dd-MM-yyyy' matInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate" [formControl]="date" (dateInput)="addEvent('input', $event)" disable>
          <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-divider class="navigation-divider"></mat-divider>
      <a mat-list-item >
          <mat-icon class="sidenav-icon">whatshot</mat-icon> {{ 'Casos activos' | translate }}
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
        <mat-icon class="sidenav-icon">whatshot</mat-icon> {{ 'Acumulados xmpio' | translate }}
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
        <mat-icon class="sidenav-icon">public</mat-icon> {{ 'Radar Jalisco' | translate }}
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
        <mat-icon class="sidenav-icon">warning</mat-icon> {{ 'Defunciones' | translate }}
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
        <mat-icon class="sidenav-icon">add_alert</mat-icon> {{ 'Activos nacional' | translate }}
      </a>
      <mat-divider class="navigation-divider"></mat-divider> -->
<!-- 
        <p>parametro</p>
        {{parametro}}
        <div class="goku-comp">
            <h3>Goku Component</h3>
            <form>
              <div class="form-group">
                <label>Mensaje para Vegeta:</label>
                <input class="form-control" #msg type="text">
              </div>
              <button class="btn btn-primary" type="button" (click)="enviarMensaje(msg.value)">Enviar Mensaje</button>
            </form>
            <div class="pedir-mensaje">
              <button class="btn btn-info" (click)="verMensaje()">Ver mensaje de Vegeta</button>
              <h3 *ngIf="mensajeVegeta">{{mensajeVegeta}}</h3>
            </div>
          </div>

        <button class="btn btn-primary" (click)="cambiarNombre()">Cambiar nombre</button> -->

        <!-- {{mensaje}}
        <div (click)="updateData('falso')">Click t oupdate Data FALSE</div>
        <div (click)="updateData('verddero')">Click to update Data TRUE</div>
        <div><p>data from Service HERE:</p><p style="color:red"> {{myData}}</p></div> -->

        <!-- <div (click)="updateData(false)">Click t oupdate Data FALSE</div>
                <div (click)="updateData(true)">Click to update Data TRUE</div>
               <child></child> -->
        
        <!-- <div class="flex-item">
            <mat-form-field appearance="fill">
                <mat-label>Seleccionar fecha</mat-label>
                <input format='dd-MM-yyyy' matInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate" [formControl]="date" (dateInput)="addEvent('input', $event)" disable>
                <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div> -->

        <!-- <div class="example-events">
            <div *ngFor="let e of events">{{e}}</div>
          </div> -->

        <!-- <input matInput [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate" [formControl]="date" [value]="date.value"> -->
        
        <!-- <div class="flex-item">
            <mat-form-field>
              <mat-label>Fecha</mat-label>
              <mat-select [(value)]="dates[0]">
                <mat-option [value]="option" *ngFor="let option of dates">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
        </div> -->
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'COVID-19' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2' | translate }}
        </a> -->
    </mat-nav-list>
</div>
