$color-rose:        #CE5690;
$color-yellow:        #F6E4A9;
$color-purple:      #604289;
$color-blue1:  #B8E0EA;
$color-blue2:      #00A6D9;

.active {}

#sidebar {
    // width: 250px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: $color-blue1;
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    .mat-nav-list {
        width: 100%;
        .btn_covid19 {
            background: $color-blue1;
            border: 3px solid $color-blue1;
            color: $color-blue2;
        }
        a {
            .mat-icon {
                margin-right: 15px; 
            }
            color: $color-blue2;
        }
        .iconovid19{
            margin-right: 0.5em;
            height: 2em;
        }
        img {
            background: $color-blue1;
        }
    }
}
.mat-dialog-container {
    background-color: #F0F0F0;    
    color: $color-blue2;
}

.mat-dialog-title {
    color: $color-purple;
    font-size: 2rem;
}
.dialog-content {
    padding-bottom: 20px;
}
a {
    font-size: 13px;
}
.version {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-blue2;
    flex-direction: column;
    .nota {
        color: $color-blue2;
        background-color: $color-blue1;
    }
}
.tooltip {
    background: $color-blue2;
    font-size: 16px;
}
.tooltip2 {
    background: $color-purple;
    font-size: 16px;
}
.tooltip3 {
    background: $color-rose;
    font-size: 16px;
}
.tooltip4 {
    background: $color-blue2;
    font-size: 16px;
}
.flex-item{
    width: 50%;
}
.nested-menu {
    .nested {
        list-style-type: none;
    }
    .submenu {
        display: none;
        height: 0;
    }
    & .expand {
        &.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;
            li {
                a {
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

.mat-form-field-flex{

    width: 200px;
}
.mat-form-field-appearance-fill{

    margin-left: 10px;
    margin-right: 30px;
}
@media screen and (max-width: 1602px) {
    #sidebar {
        left: -290px;
    }
}

// #sidebar {
//     width: 250px;
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     background: #fff;
//     box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
//     z-index: 999;
//     -ms-overflow-y: auto;
//     overflow-y: auto;
//     .mat-nav-list {
//         width: 100%;
//         a {
//             .mat-icon {
//                 margin-right: 15px;
//             }
//             display: block;
//         }
//     }
// }
// .nested-menu {
//     .nested {
//         list-style-type: none;
//     }
//     .submenu {
//         display: none;
//         height: 0;
//     }
//     & .expand {
//         &.submenu {
//             display: block;
//             list-style-type: none;
//             height: auto;
//             margin: 0;
//             li {
//                 a {
//                     padding: 10px;
//                     display: block;
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width: 992px) {
//     #sidebar {
//         left: -250px;
//     }
// }
