$color-rose:        #CE5690;
$color-yellow:        #F6E4A9;
$color-purple:      #604289;
$color-blue1:  #B8E0EA;
$color-blue2:      #00A6D9;



#sidebar {
    // width: 250px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: $color-blue1;
    // color: $color-purple;
    // box-shadow: 3px 0 6px $color-gris2;
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    .mat-nav-list {
        width: 100%;
        // color: $color-purple;
        a {
            .mat-icon {
                margin-right: 15px; 
            }
            // color: white;
            
            color: $color-purple;
            display: block;
        }
    }
}
.flex-item{
    width: 50%;
}
.mat-list-item-content{
    width: 50px;
}
.nested-menu {
    .nested {
        list-style-type: none;
    }
    .submenu {
        display: none;
        height: 0;
    }
    & .expand {
        &.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;
            li {
                a {
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

.mat-form-field-flex{

    width: 200px;
}
.mat-form-field-appearance-fill{

    margin-left: 10px;
    margin-right: 30px;
}
@media screen and (max-width: 1602px) {
    #sidebar {
        left: -290px;
    }
}

// #sidebar {
//     width: 250px;
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     background: #fff;
//     box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
//     z-index: 999;
//     -ms-overflow-y: auto;
//     overflow-y: auto;
//     .mat-nav-list {
//         width: 100%;
//         a {
//             .mat-icon {
//                 margin-right: 15px;
//             }
//             display: block;
//         }
//     }
// }
// .nested-menu {
//     .nested {
//         list-style-type: none;
//     }
//     .submenu {
//         display: none;
//         height: 0;
//     }
//     & .expand {
//         &.submenu {
//             display: block;
//             list-style-type: none;
//             height: auto;
//             margin: 0;
//             li {
//                 a {
//                     padding: 10px;
//                     display: block;
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width: 992px) {
//     #sidebar {
//         left: -250px;
//     }
// }
