$color-rose:        #CB3788;
$color-gray2:        #778DA9;
$color-gray3:      #1B263B;
$color-gray1:  #E0E1DD;
$color-blue:      #1AA6BE;
#sidebar {
    width: 150px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: $color-gray1;
    // background: $color-rose;
    // box-shadow: 3px 0 6px $color-gris2;
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    .mat-nav-list {
        width: 100%;
        a {
            .mat-icon {
                margin-right: 15px;
            }
            // color: white;
            display: block;
        }
    }
}
.nested-menu {
    .nested {
        list-style-type: none;
    }
    .submenu {
        display: none;
        height: 0;
    }
    & .expand {
        &.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;
            li {
                a {
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 1602px) {
    #sidebar {
        left: -160px;
    }
}

// #sidebar {
//     width: 250px;
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     background: #fff;
//     box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
//     z-index: 999;
//     -ms-overflow-y: auto;
//     overflow-y: auto;
//     .mat-nav-list {
//         width: 100%;
//         a {
//             .mat-icon {
//                 margin-right: 15px;
//             }
//             display: block;
//         }
//     }
// }
// .nested-menu {
//     .nested {
//         list-style-type: none;
//     }
//     .submenu {
//         display: none;
//         height: 0;
//     }
//     & .expand {
//         &.submenu {
//             display: block;
//             list-style-type: none;
//             height: auto;
//             margin: 0;
//             li {
//                 a {
//                     padding: 10px;
//                     display: block;
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width: 992px) {
//     #sidebar {
//         left: -250px;
//     }
// }
