$color-rose:        #CE5690;
$color-yellow:        #F6E4A9;
$color-purple:      #604289;
$color-blue1:  #B8E0EA;
$color-blue2:      #00A6D9;
:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.nav-brand {
    width: 215px;
    text-align: center;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: $color-purple;
}
// .nav-brand{
//     width: 6rem;
//     color: $color-purple;
//     margin-left: 0;
// }
.mat-icon{
    // color: $color-gray3;
    color: $color-purple;
}
.logocovid19{
    margin-top: 10px;
    margin-left: .8rem;
    // background: $color-rose;
    // width: 10em;
    height: 2.4em;
}
.logoiieg{
    height: 5rem;
}
.logojaliscogob{
    height: 2.6em;
}

.mat-toolbar.mat-primary {
    // background-color: $color-rose;
    background: white;
    // background: $color-blue;
    // background: white;
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 1602px) {
    .visible-md {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
    .logocovid19{
        margin-left: 0rem;
        height: 1.9em;
    }
    .logoiieg{
        height: 2.8rem;
    }
    .logojaliscogob{
        height: 1.8em;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .logocovid19{
        margin-left: 0rem;
        height: 1.9em;
    }
    .logoiieg{
        height: 2rem;
    }
    .logojaliscogob{
        height: 1.2em;
    }
}
